<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
  <div id="container">

    <div>
      <ion-input type="number" disabled [value]="result"></ion-input>
    </div>

    <div>
      <ion-col><ion-button color="medium" (click)="setValue(7)">7</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(8)">8</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(9)">9</ion-button></ion-col>
      <ion-col><ion-button color="warning" (click)="setOperation(Operation.DIVISION)">{{Operation.DIVISION}}</ion-button></ion-col>
    </div>

    <div>
      <ion-col><ion-button color="medium" (click)="setValue(4)">4</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(5)">5</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(6)">6</ion-button></ion-col>
      <ion-col><ion-button color="warning" (click)="setOperation(Operation.MULTIPLICACION)">{{Operation.MULTIPLICACION}}</ion-button></ion-col>
    </div>

    <div>
      <ion-col><ion-button color="medium" (click)="setValue(1)">1</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(2)">2</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(3)">3</ion-button></ion-col>
      <ion-col><ion-button color="warning" (click)="setOperation(Operation.RESTA)">{{Operation.RESTA}}</ion-button></ion-col>
    </div>

    <div>
      <ion-col><ion-button color="danger" (click)="reset()">C</ion-button></ion-col>
      <ion-col><ion-button color="medium" (click)="setValue(0)">0</ion-button></ion-col>
      <ion-col><ion-button color="warning" (click)="total()">=</ion-button></ion-col>
      <ion-col><ion-button color="warning" (click)="setOperation(Operation.SUMA)">{{Operation.SUMA}}</ion-button></ion-col>
    </div>

    

    
    
  </div>
</ion-content>
