#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-input {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  
}